<div class="container">
  <%= form_with(model: artist, class: "form", data: { controller: 'nested-form',
    nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
    <% if artist.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>
        <ul>
          <% artist.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-control form-control", required: true %>
        </div>

        <div class="form-group">
          <%= form.label :date_of_birth, class: "form-label" %>
          <%= form.date_field :date_of_birth, class: "form-control form-control", required: true %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :address, class: "form-label" %>
          <%= form.text_field :address, class: "form-control form-control", required: true %>
        </div>

        <div class="form-group">
          <%= form.label :first_release_year, class: "form-label" %>
          <%= form.number_field :first_release_year, class: "form-control form-control", required: true %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :gender, class: "form-label" %>
          <%= form.select :gender, Artist.genders.keys, { prompt: 'Select Gender' }, class: "form-select form-control" %>
        </div>
      </div>
    </div>

    <hr>

    <%if artist.musics.any? %>
      <h4>Artist Musics</h4>
    <% end %>
    
    <% artist.musics.each do |music| %>
      <%= form.fields_for :musics, music do |music_fields| %>
        <%= render "artists/music_fields", f: music_fields %>
      <% end %>
    <% end %>

    <template data-nested-form-target="template">
      <%= form.fields_for :musics, Music.new, child_index: 'NEW_RECORD' do |music_fields| %>
        <%= render "artists/music_fields", f: music_fields %>
      <% end %>
    </template>
    
    <div data-nested-form-target="target"></div>
    <button type="button" data-action="nested-form#add" class="btn btn-primary btn-sm mt-3">Add Music</button>

    <div class="actions mt-3">
      <%= form.submit "Save", class: "btn btn-success" %>
    </div>
  <% end %>
</div>
